/* padding y margin a 0 para todos los elementos */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* fondo con degradado y altura mínima para el body */
body{
    background: linear-gradient(to bottom, #4f008a, #b149bb);
    min-height: 100vh;
}

/* Estilos para h1 alineación, márgenes, color, transformación de texto y fuente */
h1{
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    color: aliceblue;
    text-transform: uppercase;
    font-family: sans-serif;
}

/* centrar contenido horizontal y verticalmente con margen superior */
.wrapper{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clase piano para mostrar hijos en un contenedor */
.piano{
    display: flex;
}

/* establecer altura, ancho, transición y posición de las teclas del piano */
.key{
    height: calc(var(--width) * 4);
    width: var(--width);
    transition: background-color 0.2s ease;
    position: relative;
}

/* Estilos específicos para teclas blancas */
.white{
    --width:100px;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    border: 1px solid #333;
    border-radius: 0px 0px 10px 10px;
    color: #333;
}

/* Cambiar color de fondo cuando la tecla blanca está activa */
.white:active{
    background-color: #ccc;
}

/* Estilos específicos para teclas negras */
.black{
    --width:60px;
    background: linear-gradient(to bottom, #000000, #333333);
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    border-radius:  0px 8px 8px;
    color: #fff;
}

/* Estilos para etiquetas de notas */
.note-label{
    font-size: 12px;
    color: inherit;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform : translateX(-50%);
}

/* Cambiar color de fondo cuando la tecla negra está activa */
.black:active{
    background-color: #333;
}

/* mover la tecla hacia abajo cuando está activa */
.key.active{
    transform: translateY(4px);
}

/* Estilos para el footer */
footer.composer-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 300px;
}

/* Estilos para la lista de integrantes */
footer.composer-footer .composer-list {
    list-style: none;
    padding: 20;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Estilos para los elementos de la lista de integrantes */
footer.composer-footer .composer-list li {
    margin: 0 100px;
    font-size: 28px;
}

/* Agregar subrayado al texto al pasar el cursor sobre los elementos de la lista de integrantes */
footer.composer-footer .composer-list li:hover {
    text-decoration: underline;
}


